body {
   background-color: #0e1e45;
   color: #17824a;
  
   border-style: double;
   border-width: 25px;
   border-color: #83057a;
  
   font-family: Courier New;
   font-size: 2em; */
}

main {
   margin: 0.5em;
}


a:link {
   color: #3386d4;
}

a:hover {
    color: #4f84b6;
}

a:visited {
    color: #777777;
}

a:visited:hover {
   color: #000000;
}

h1 {
text-align: center;
}


table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   color: green;
}

td, th {
   border: 0.3em solid black;
   text-align: center;
   padding: 1em;
}

tr:nth-child(even) {
  background-color: #03143f;
}

img {
   height: 75vh; /* This can go outside the border on windows that are unusually tall relative to their width- but it seems better than having width scale to vw, which also doesn't entirely fix the issue*/
}

figure {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

figcaption {
   
   margin-bottom: 2em;
}

ol {
   margin-left: 1em;
}
span.small {
   font-size: smaller;
}

.dark {
   background-color: black;
   color: white;
   border-color: grey;
      a:visited {
         color: #026d66;

      }
}

.bright {
   background-color: #26015e;
   color: #21b20a;
}

.centerpiece {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
