@font-face {
    font-family: Thumbnail;
    src: url(Fonts/Pokemon\ Hollow.ttf);
 }

 @font-face {
  font-family: Logo;
  src: url(Fonts/Pokemon\ Solid.ttf);
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   color: green;
}

td, th {
   border: 0.3em solid black;
   text-align: center;
   padding: 1em;
}

tr:nth-child(even) {
  background-color: #03143f;
}
  
.header {
    width: 100vw;
    height: 100vh;
    background-image: url("Images/pikachu.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 0;
    color: white;
    font-family: Thumbnail;

    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.header h1{
  font-size: 8vw;
  font-weight: 300;
  font-family: Thumbnail;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 40vh;
}

.header a{
  text-decoration: none;
}

.header a:hover{
  text-decoration: none;
}


.header h2{
    font-size: 50px;
    font-family: Thumbnail;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}
  
  #navbar {
    width: 100vw;
    margin:auto;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
    display: flex;  
    justify-content: center; 
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    display: flex;  
  }

  #nav ul li {
    display: inline-block;
    margin-right: 10px;
}

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(0,0,0,0.6);
  }
  
  #navbar a:hover {
    background-color: #727272;
    color: orange;
  }
  
  #navbar a.active {
    background-color: #ff8a2354;
    color: white;
  }

  #navbar a.active:hover {
    background-color: #727272;
    color: orange;
  }
  
  .content {
    padding: 16px;
    background-color: white;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.scroll-down {
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 10%;
  display: block;
  text-align: center;
  font-size: 40px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}

.footer{
  height: 10vh;
  width: 100vw;
  text-align:  center;
  background-color: rgba(0,0,0,1);
  font-size: medium;
  color: white;
  margin-top:-10;
  margin-bottom: -10px;
  padding-bottom: 5px;
  padding-top: 3vh;
}


.home{
  width: 100vw;
  height: 110vh;
  display:flex;
}


@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


