@font-face {
  font-family: 'Thumbnail';
  src: url('Fonts/Pokemon Hollow.ttf');
}

@font-face {
  font-family: 'Logo';
  src: url('Fonts/Pokemon Solid.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: scroll;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  margin: auto;
  border-collapse: collapse;
  width: 80% !important;
  color: white;
}

td, th {
  border-left: 0.01em solid white;
  text-align: center;
  font-size: large;
  padding: 0.2em;
}

table th {
  text-align: center !important;
  background-color: rgba(0, 0, 0, 1);
  width: auto !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: black;
}

table td:first-child, table th:first-child {
  border-left: none;
}

table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.6);
}

tr:nth-child(odd) {
  background-color: rgba(191, 191, 191, 0.6);
}

#navbar {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between; /* Separates the logo and ul list */
  align-items: center; /* Aligns elements vertically */
  background-color: rgba(0, 0, 0, 1);
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  margin-right: 5vw;
}

#navbar ul li {
  display: inline-block;
  margin-right: 10px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #727272;
  color: orange;
}

#navbar a.active {
  background-color: #ff8a2354;
  color: white;
}

#navbar a.active:hover {
  background-color: #727272;
  color: orange;
}

.searchbar {
  width: 40%;
  margin: auto;
}

.searchbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.logo {
  color: orange;
  font-family: 'Logo';
  margin-left: 5vw;
  font-size: x-large;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.sticky + .content {
  padding-top: 60px;
}

.footer {
  height: 8vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  font-size: medium;
  color: white;
  margin-bottom: -10px;
  padding-bottom: 5px;
  padding-top: 2.5vh;
}

.content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-image: url("Images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: white;
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.searchbar {
  width: 40%;
  margin: auto;
  color:black;
  padding-bottom:6vh;
}

.searchbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.searchbar ul li {
  display: inline-block;
}